*/errorlog/*
*/unrunnable/*
*.txt
core*
*.out
*.log
*/sandbox/*
*.mat
*.mgz
*.nii
*.nii.gz
*.hdr
*.img
*.BRIK
*.HEAD
*DS_Store
._*
*.swp
.bash_logout
.bash_profile
.bashrc
.emacs
.kde/
.xdebug_tkmedit
.zshrc
.Rhistory
.Rapp.history
*/output/*
*.~*
*.err

#no pictures
*.jpg
*.png
*.gif
*.pdf
*.svg
*.jpeg

.Rproj.user

fMRI/fx/shell/schedule_spm_jobs/svc/wave1/event/*.1D
