sandbox/*
*.mat
*.mgz
*.nii
*.nii.gz
*.hdr
*.img
*.BRIK
*.HEAD
*DS_Store
sMRI/subjects/*
fMRI/subjects/*
rsfMRI/subjects/*
._*
*.swp
.bash_logout
.bash_profile
.bashrc
.emacs
.kde/
.xdebug_tkmedit
.zshrc
.Rhistory
.Rapp.history
*/scripts/output/*
core
*.~*

#no pictures
*.jpg
*.png
*.gif
*.pdf
*.svg
*.jpeg

.Rproj.user
